
<div class="bg_content"> 
<div id="content" style="margin:0; margin-right:0; padding:0; padding-bottom:180px" class="phone"><span>
<div class="box carousel-box">
  <div class="box-heading"><!--Featured-->Special Offer</div>
  <div class="box-content inner">
<a class="prev"><p></p></a>
<a class="next"><p></p></a>
    <div style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; width: 910px;" class="box-product carousel">
	<ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; width: 3640px; left: -1274px;">
      <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>
          <div class="image"><a href="#"><img src="assets/product_10-142x211.jpg" alt="Discover Great New Writers"></a></div>
          <div class="open_content">  
            <div class="name"><a href="#">Discover Great New Writers</a></div>
            <div class="description">
              Discover Great New Writers ..
            </div> 
            <div class="price"><i>Price:</i>	       
              $1,177.00           
            </div>    
            <div class="cart"><a onclick="addToCart('52');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>
      
      <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>      
          <div class="image"><a href="#"><img src="assets/product_11-142x211.jpg" alt="Trending Books"></a></div>
          <div class="open_content">  
            <div class="name"><a href="#">Trending Books</a></div>
            <div class="description">
              Trending Books ..
            </div>
            <div class="price"><i>Price:</i>
              $237.00        
            </div>
            <div class="cart"><a onclick="addToCart('53');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>

      <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>			      				           
          <div class="image"><a href="#"><img src="assets/product_1-142x211.jpg" alt="Catching Fire (Hunger Games Series #2)"></a></div>			
          <div class="open_content">  
            <div class="name"><a href="#">Catching Fire (Hunger Games Series #2)</a></div>
            <div class="description">					
              Redefine your workday with the Palm Treo P..		
            </div>
            <div class="price"><i>Price:</i>   
              $330.99        
            </div>			       				               
          <div class="cart"><a onclick="addToCart('29');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>
      <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>		      
          <div class="image"><a href="#"><img src="assets/product_8-142x211.jpg" alt="New Releases"></a></div>
          <div class="open_content">  
            <div class="name"><a href="#">New Releases</a></div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur ad..		
            </div>			           
            <div class="price"><i>Price:</i>		       
              <span class="price-old">$178.24</span> <span class="price-new">$60.75</span>        
            </div>
            <div class="cart"><a onclick="addToCart('49');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>
      <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>
          <div class="image"><a href="#"><img src="assets/product_1-142x211.jpg" alt="NY Times Bestsellers"></a></div>
          <div class="open_content">  
            <div class="name"><a href="#">NY Times Bestsellers</a></div>
            <div class="description">
              Redefine your workday with the Palm Treo P..		
            </div>
          <div class="price"><i>Price:</i>     
            $330.99        
          </div>  
          <div class="cart"><a onclick="addToCart('51');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>
     




	
<!-----------------   BEGIN FOREACH--------------------------->	
     
      <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>        
          <div class="image"><a href="#"><img src="assets/product_15-142x211.jpg" alt="Award Winners"></a></div>
          <div class="open_content">  
            <div class="name"><a href="#">Award Winners</a></div>
            <div class="description">
              Trending Books ..
            </div>
            <div class="price"><i>Price:</i>     
              $237.00        
            </div>
            <div class="cart"><a onclick="addToCart('54');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>	  
	 
	    <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>
          <div class="image"><a href="#"><img src="assets/product_7-142x211.jpg" alt="B&amp;N Top 100"></a></div>
          <div class="open_content">  
            <div class="name"><a href="#">B&amp;N Top 100</a></div>
            <div class="description">
              Donec in sapien dolor. Duis ut imperdiet l..		
            </div>
            <div class="price"><i>Price:</i>
              $119.50        
            </div>
            <div class="cart"><a onclick="addToCart('46');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>
	 
	    <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>      
          <div class="image"><a href="#"><img src="assets/product_5-142x211.jpg" alt="Coming Soon"></a></div>
          <div class="open_content">  
            <div class="name"><a href="#">Coming Soon</a></div>
            <div class="description">
              Trending Books ..
            </div>
            <div class="price"><i>Price:</i>     
              $824.50        
            </div>        
            <div class="cart"><a onclick="addToCart('55');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>
	        

	    <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
			  <div>
					<div class="image"><a href="#"><img src="assets/product_9-142x211.jpg" alt="Best Books of the Month"></a></div>
					<div style="opacity: 0; display: block;" class="open_content">  
			 	    <div class="name"><a href="#">Best Books of the Month</a></div>
			      <div class="description">
							Lorem ipsum dolor sit amet, consectetur ad..		
						</div>
				    <div class="price"><i>Price:</i>
					  	<span class="price-old">$236.99</span> <span class="price-new">$60.75</span>    
						</div> 
						<div class="cart"><a onclick="addToCart('50');" class="button"><span>Add To Cart</span></a></div>
					</div>    
			  </div>
      </li>
	 


	    <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>    
          <div class="image"><a href="#"><img src="assets/product_4-142x211.jpg" alt="Bestsellers by Subject"></a></div>
            <div class="open_content">  
              <div class="name"><a href="#">Bestsellers by Subject</a></div>
              <div class="description">
                Suspendisse a nulla ac ligula accumsan rut..		
              </div>
              <div class="price"><i>Price:</i>     
                $237.00        
              </div>
            <div class="cart"><a onclick="addToCart('33');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>
	 







	    <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>
          <div class="image"><a href="#"><img src="assets/product_10-142x211.jpg" alt="Discover Great New Writers"></a></div>
          <div class="open_content">  
            <div class="name"><a href="#">Discover Great New Writers</a></div>
            <div class="description">
              Discover Great New Writers ..
            </div> 
            <div class="price"><i>Price:</i>	       
              $1,177.00           
            </div>    
            <div class="cart"><a onclick="addToCart('52');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>
	 
	    <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>      
          <div class="image"><a href="#"><img src="assets/product_11-142x211.jpg" alt="Trending Books"></a></div>
          <div class="open_content">  
            <div class="name"><a href="#">Trending Books</a></div>
            <div class="description">
              Trending Books ..
            </div>
            <div class="price"><i>Price:</i>
              $237.00        
            </div>
            <div class="cart"><a onclick="addToCart('53');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>
	 
	    <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>
          <div class="image"><a href="#"><img src="assets/product_1-142x211.jpg" alt="NY Times Bestsellers"></a></div>
          <div class="open_content">  
            <div class="name"><a href="#">NY Times Bestsellers</a></div>
            <div class="description">
              Redefine your workday with the Palm Treo P..		
            </div>
          <div class="price"><i>Price:</i>     
            $330.99        
          </div>  
          <div class="cart"><a onclick="addToCart('51');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>


      <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>   
          <div class="image"><a href="#"><img src="assets/product_8-142x211.jpg" alt="New Releases"></a></div>
          <div class="open_content">  
            <div class="name"><a href="#">New Releases</a></div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur ad..		
            </div>
            <div class="price"><i>Price:</i>      
              <span class="price-old">$178.24</span> <span class="price-new">$60.75</span>
            </div>
            <div class="cart"><a onclick="addToCart('49');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>
	 
      <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>   
          <div class="image"><a href="#"><img src="assets/product_1-142x211.jpg" alt="NY Times Bestsellers"></a></div>
          <div class="open_content">  
            <div class="name"><a href="#">NY Times Bestsellers</a></div>
            <div class="description">
              Redefine your workday with the Palm Treo P..		
            </div>
            <div class="price"><i>Price:</i>     
              $330.99        
            </div>
          <div class="cart"><a onclick="addToCart('51');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>
	 
	  <!-----------------   END FOREACH--------------------------->

      <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>    
          <div class="image"><a href="#"><img src="assets/product_15-142x211.jpg" alt="Award Winners"></a></div>  
          <div class="open_content">  
            <div class="name"><a href="#">Award Winners</a></div>
            <div class="description">
              Trending Books ..
            </div>
            <div class="price"><i>Price:</i>     
              $237.00        
            </div>
            <div class="cart"><a onclick="addToCart('54');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>


	    <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>    
          <div class="image"><a href="#"><img src="assets/product_7-142x211.jpg" alt="B&amp;N Top 100"></a></div>
          <div class="open_content">  
            <div class="name"><a href="#">B&amp;N Top 100</a></div>
            <div class="description">
              Donec in sapien dolor. Duis ut imperdiet l..		
            </div>
            <div class="price"><i>Price:</i>     
              $119.50        
            </div>
            <div class="cart"><a onclick="addToCart('46');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>


      <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>    
          <div class="image"><a href="#"><img src="assets/product_5-142x211.jpg" alt="Coming Soon"></a></div>
          <div class="open_content">  
            <div class="name"><a href="#">Coming Soon</a></div>
            <div class="description">
              Trending Books ..
            </div>
            <div class="price"><i>Price:</i>     
              $824.50        
            </div>
            <div class="cart"><a onclick="addToCart('55');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>


      <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>
          <div class="image"><a href="#"><img src="assets/product_9-142x211.jpg" alt="Best Books of the Month"></a></div>
          <div style="opacity: 0; display: block;" class="open_content">  
            <div class="name"><a href="#">Best Books of the Month</a></div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur ad..    
            </div>
            <div class="price"><i>Price:</i>
              <span class="price-old">$236.99</span> <span class="price-new">$60.75</span>    
            </div> 
            <div class="cart"><a onclick="addToCart('50');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>


      <li style="overflow: hidden; float: left; width: 170px; height: 215px;">
        <div>    
          <div class="image"><a href="#"><img src="assets/product_4-142x211.jpg" alt="Bestsellers by Subject"></a></div>
            <div class="open_content">  
              <div class="name"><a href="#">Bestsellers by Subject</a></div>
              <div class="description">
                Suspendisse a nulla ac ligula accumsan rut..		
              </div>
              <div class="price"><i>Price:</i>     
                $237.00        
              </div>
            <div class="cart"><a onclick="addToCart('33');" class="button"><span>Add To Cart</span></a></div>
          </div>    
        </div>
      </li>
      </ul>
    </div>
  </div>
</div>



<div class="box latest">
  <div class="box-heading">Latest</div>
  <div class="box-content">
    <div class="box-product">
      <div>
        <div class="image"><a href="#"><img src="assets/product_5-142x211.jpg" alt="Coming Soon"></a></div>
        <div class="open_content">  
          <div class="name"><a href="#">Coming Soon</a></div>
<!--      <div class="description">
      <b>Notice</b>: Undefined index: description in <b>/home/template/domains/template-preview.com/public_html/opencart/300111402/catalog/view/theme/default/template/module/latest.tpl</b> on line <b>15</b>		
      </div>
-->
          <div class="price"><i>Price:</i>            
            $824.50        
          </div>
          <div class="cart"><a onclick="addToCart('55');" class="button"><span>Add To Cart</span></a></div>
        </div>
      </div>

      <div>
        <div class="image"><a href="#"><img src="assets/product_15-142x211.jpg" alt="Award Winners"></a></div>
        <div class="open_content">  
          <div class="name"><a href="#">Award Winners</a></div>
<!--      <div class="description">
      <b>Notice</b>: Undefined index: description in <b>/home/template/domains/template-preview.com/public_html/opencart/300111402/catalog/view/theme/default/template/module/latest.tpl</b> on line <b>15</b>		
      </div>
-->	           
          <div class="price"><i>Price:</i>
            $237.00        
          </div>
          <div class="cart"><a onclick="addToCart('54');" class="button"><span>Add To Cart</span></a></div>
        </div>
      </div>

      <div>
        <div class="image"><a href="#"><img src="assets/product_11-142x211.jpg" alt="Trending Books"></a></div>
        <div class="open_content">  
          <div class="name"><a href="#">Trending Books</a></div>
<!--      <div class="description">
      <b>Notice</b>: Undefined index: description in <b>/home/template/domains/template-preview.com/public_html/opencart/300111402/catalog/view/theme/default/template/module/latest.tpl</b> on line <b>15</b>		
      </div>
-->
          <div class="price"><i>Price:</i>            
            $237.00        
          </div>
          <div class="cart"><a onclick="addToCart('53');" class="button"><span>Add To Cart</span></a></div>
        </div>
      </div>      
      <div>
        <div class="image"><a href="#"><img src="assets/product_10-142x211.jpg" alt="Discover Great New Writers"></a></div>
        <div class="open_content">  
          <div class="name"><a href="#">Discover Great New Writers</a></div>
<!--      <div class="description">
      <b>Notice</b>: Undefined index: description in <b>/home/template/domains/template-preview.com/public_html/opencart/300111402/catalog/view/theme/default/template/module/latest.tpl</b> on line <b>15</b>		
      </div>
-->
          <div class="price"><i>Price:</i>            
            $1,177.00        
          </div>
          <div class="cart"><a onclick="addToCart('52');" class="button"><span>Add To Cart</span></a></div>
        </div>
      </div>
      <div>
        <div class="image"><a href="#"><img src="assets/product_1-142x211.jpg" alt="NY Times Bestsellers"></a></div>
        <div class="open_content">  
          <div class="name"><a href="#">NY Times Bestsellers</a></div>
<!--      <div class="description">
      <b>Notice</b>: Undefined index: description in <b>/home/template/domains/template-preview.com/public_html/opencart/300111402/catalog/view/theme/default/template/module/latest.tpl</b> on line <b>15</b>		
      </div>
-->
          <div class="price"><i>Price:</i>            
            $330.99        
          </div>
          <div class="cart"><a onclick="addToCart('51');" class="button"><span>Add To Cart</span></a></div>
        </div>
      </div>
      <div>
        <div class="image"><a href="#"><img src="assets/product_9-142x211.jpg" alt="Best Books of the Month"></a></div>
        <div class="open_content">  
          <div class="name"><a href="#">Best Books of the Month</a></div>
<!--      <div class="description">
      <b>Notice</b>: Undefined index: description in <b>/home/template/domains/template-preview.com/public_html/opencart/300111402/catalog/view/theme/default/template/module/latest.tpl</b> on line <b>15</b>		
      </div>
-->
          <div class="price"><i>Price:</i>             
            <span class="price-old">$236.99</span> <span class="price-new">$60.75</span>
          </div>
          <div class="cart"><a onclick="addToCart('50');" class="button"><span>Add To Cart</span></a></div>
        </div>
      </div>
      <div>
        <div class="image"><a href="#"><img src="assets/product_8-142x211.jpg" alt="New Releases"></a></div>
        <div class="open_content">  
          <div class="name"><a href="#">New Releases</a></div>
<!--      <div class="description">
			<b>Notice</b>: Undefined index: description in <b>/home/template/domains/template-preview.com/public_html/opencart/300111402/catalog/view/theme/default/template/module/latest.tpl</b> on line <b>15</b>		
      </div>
-->
          <div class="price"><i>Price:</i>             
            <span class="price-old">$178.24</span> <span class="price-new">$60.75</span>
          </div>
          <div class="cart"><a onclick="addToCart('49');" class="button"><span>Add To Cart</span></a></div>
        </div>
      </div>
      <div>
        <div class="image"><a href="#"><img src="assets/product_7-142x211.jpg" alt="B&amp;N Top 100"></a></div>
        <div class="open_content">  
          <div class="name"><a href="#">B&amp;N Top 100</a></div>
<!--      <div class="description">
      <b>Notice</b>: Undefined index: description in <b>/home/template/domains/template-preview.com/public_html/opencart/300111402/catalog/view/theme/default/template/module/latest.tpl</b> on line <b>15</b>		
      </div>
-->
          <div class="price"><i>Price:</i>            
            $119.50        
          </div>    
          <div class="cart"><a onclick="addToCart('46');" class="button"><span>Add To Cart</span></a></div>
        </div>
      </div>
      <div>
        <div class="image"><a href="#"><img src="assets/product_4-142x211.jpg" alt="Bestsellers by Subject"></a></div>
        <div class="open_content">  
          <div class="name"><a href="#">Bestsellers by Subject</a></div>
<!--      <div class="description">
      <b>Notice</b>: Undefined index: description in <b>/home/template/domains/template-preview.com/public_html/opencart/300111402/catalog/view/theme/default/template/module/latest.tpl</b> on line <b>15</b>		
      </div>
-->
          <div class="price"><i>Price:</i>
            $237.00        
          </div>
          <div class="cart"><a onclick="addToCart('33');" class="button"><span>Add To Cart</span></a></div>
        </div>
      </div>
      <div style="margin-right: 0px;">
        <div class="image"><a href="#"><img src="assets/product_1-142x211.jpg" alt="Catching Fire (Hunger Games Series #2)"></a></div>
        <div class="open_content">  
          <div class="name"><a href="#">Catching Fire (Hunger Games Series #2)</a></div>
<!--      <div class="description">
      <b>Notice</b>: Undefined index: description in <b>/home/template/domains/template-preview.com/public_html/opencart/300111402/catalog/view/theme/default/template/module/latest.tpl</b> on line <b>15</b>		
      </div>
-->
          <div class="price"><i>Price:</i>
            $330.99        
          </div>
          <div class="cart"><a onclick="addToCart('29');" class="button"><span>Add To Cart</span></a></div>
        </div>
      </div>
      <p class="clear"></p><br>
    </div>
  </div>
</div>
<h1 style="display: none;">Your Store</h1>
<div class="phone_bottom">Have Questions? Call Us:
<p>01636 <span style="display:none"> no skype</span>228890</p>
</div>
<div id="banner0" class="banner">
  <div style="display: block;"><a href="#"><img src="assets/banner_bottom-457x177.jpg" alt="Banner Books" title="Banner Books"></a></div>
</div>
</span></div>
<div style="clear:both"></div>
</div><!--   END  bg_content  -->
