<div class="box category">
  <div class="box-heading">Manage Books</div>
  <div class="box-content">
    <div class="box-category">
      <ul>
        <li><%= link_to "New Book", new_admin_book_path %></li>
        <li><%= link_to "All Book", admin_books_path %></li>
      </ul>
    </div>
  </div>
</div>
