$("#comment-list-<%= @comment.review.id%>").append("<p><strong><%= @comment.user.email %></strong></br><%= @comment.content %></p><p>....................................................................................</p>");
