<div class="books">
<% provide :title, "Favourite books of #{@user.email}" %>
<h2> Favourite books of <%= @user.email %> </h2>
<table class="table">
  <thead>
    <th>Title</th>
    <th>Author</th>
    <th>Image</th>
  </thead>
  <tbody>
  <% @books.each do |book| %>
    <tr>
      <th>
        <a><%= link_to book.title, book_path(book) %></a> &nbsp;
      </th>
      <th>
        <a><%= link_to book.author, "#" %></a> &nbsp;
      </th>
      <th>
        <%= image_tag book.picture if book.picture? %>
      </th>
    </tr>
    <% end %>
  </tbody>
</table>

</div>