<div id="footer">
  <div class="centr">
	  <div class="column">
    <h3>Information</h3>
    <ul>
      <li><a href="/about">About Us</a></li>
      <li><a href="#">Delivery Information</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms &amp; Conditions</a></li>
    </ul>
    </div>
    <div class="column">
    <h3>Customer Service</h3>
    <ul>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="#">Returns</a></li>
      <li><a href="#">Site Map</a></li>
    </ul>
    </div>
    <div class="column">
    <h3>Extras</h3>
    <ul>
      <li><a href="#">Brands</a></li>
      <li><a href="#">Gift Vouchers</a></li>
      <li><a href="#">Affiliates</a></li>
      <li><a href="#">Specials</a></li>
    </ul>
    </div>
    <div class="column">
    <h3>My Account</h3>
    <ul>
      <li><a href="#">My Account</a></li>
      <li><a href="#">Order History</a></li>
      <li><a href="#">Wish List</a></li>
      <li><a href="#">Newsletter</a></li>
    </ul>
    </div>
    <div id="powered">
    <div class="social right_20">
      <a style="opacity: 0.5;" href="#" class="_1"></a>
      <a style="opacity: 0.5;" href="#" class="_2"></a>
      <a style="opacity: 0.5;" href="#" class="_3"></a>
    </div><br>
    Powered By <a href="#">OpenCart</a><br> Your Store © 2015<br><br>
    <div class="pay_pall_img"></div>
    </div>
  </div>
</div>